#thirdDiv {
    background:darkkhaki;
    height:600px;
    width:500px;
    padding:50px;
    border:15px solid coral;
    padding:50px;
    margin: auto;
  }
  body {
    text-align:center;
    background-image: url(https://img.freepik.com/foto-gratis/pano-cocina-mesa-madera_74190-7693.jpg?size=626&ext=jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .divCLass{
    margin:50px; 
    font-size:18px;
      }
  
  h1 {
    color:crimson    
  }
  
  #primerImagen {
      width: 400px;
      height: 200px;
  }
  
  #segundaImagen{
    width:400px; 
    height:200px;
      }
  #spanId p{
      color:whitesmoke;
  }    